<footer>
<div class="mastfoot">
  <div class="pull-right">
    <p><a href="http://www.wakilsahab.com">Wakil Sahab</a>, by <a href="http://www.aamirsayid.com">Aamir Sayid</a>. &copy; <%= Time.now.year %> All Rights Reserved</p>
  </div>
</div>
</footer>